# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "aiohttp"
          - "beautifulsoup"
          - "graphql-core"
          - "httpx"
          - "pydantic"
          - "toml"
          - "typer"
          - "websockets"
      codegen-dependencies:
        patterns:
          - "ariadne-codegen"
      development-dependencies:
        patterns:
          - "pytest*"
          - "ruff"
          - "polyfactory"
      documentation-dependencies:
        patterns:
          - "furo"
          - "sphinx*"
      schema-dependencies:
        patterns:
          - "gql"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      ci-dependencies:
        patterns:
          - "*"
