name: Check Schema (Production)

on:
  pull_request:
    branches: [main]

jobs:
  production:
    uses: ./.github/workflows/check_schema_reusable.yaml
    with:
      gpp_env: production
      continue_on_error: false
      token_var: GPP_PRODUCTION_TOKEN
    secrets:
      token: ${{ secrets.GPP_PRODUCTION_TOKEN }}
