name: Schema Checks (CI)

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  production:
    uses: ./.github/workflows/check_schema_reusable.yaml
    with:
      gpp_env: production
      continue_on_error: false
      token_var: GPP_PRODUCTION_TOKEN
    secrets:
      token: ${{ secrets.GPP_PRODUCTION_TOKEN }}

  development:
    uses: ./.github/workflows/check_schema_reusable.yaml
    with:
      gpp_env: development
      continue_on_error: true
      token_var: GPP_DEVELOPMENT_TOKEN
    secrets:
      token: ${{ secrets.GPP_DEVELOPMENT_TOKEN }}
