name: Create Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version (e.g., 25.11.0 or or 25.11.0-dev.1). Do not include a leading 'v' or unnecessary zero padding."
        required: true
      base_branch:
        description: "Branch the PR should target (main or dev)."
        required: true
        default: "main"

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ inputs.base_branch }}

      - name: Create tag
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git tag -a "v${{ inputs.version }}" -m "Release v${{ inputs.version }}."
          git push origin "v${{ inputs.version }}"

      - name: Create GitHub release and upload artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ inputs.version }}"
          name: "v${{ inputs.version }}"
          draft: true
          generate_release_notes: true
